body {
    font-family: lucida-fax;
    
  }
  
  /* start of Navbar  */
  
  .container-fluid {
    position: fixed;
    font-size: 12px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .collapse {
    margin-left: 350px;
  }
  .nav-item {
    margin-right: 30px;
  }
  
  /* end of Navbar  */
  
  /* start of backgroundLayer  */
  
  .background-Layer {
    height: 100vh;
    background-image: url(../images/WeBriLaceFbCoverPic.jpg);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 100% 100%;
    background-size: cover;
  }
  
  .caption1 {
    font-family: zapfino;
    color: #fff;
    font-size: 75px;
  }
  .caption2 {
    color: #fff;
    font-size: 75px;
    font-family: zapfino;
  }
  
  
  
  /* end of backgroundLayer  */
  
  
  
  
  
  
  
  
  
  
  /*start of footer section*/
  footer {
    margin-top: 150px;
    height: 400px;
    background-color: whitesmoke;
  }
  
  .footer-social i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
  }
  .footer-social .fa-facebook-f {
    background-color: blueviolet;
  }
  .footer-social .fa-twitter {
    background-color: #00a8fa;
  }
  .footer-social .fa-instagram {
    background-color: #fe5e72;
  }
  .footer-social .fa-youtube {
    background-color: red;
  }
  /*end of footer section*/
  /*-----------------------------------end of 1st page-------------------------------- */
  
  /*-----------------------------------start of 2nd page-------------------------------- */
  
  
  
  /*start of gallery2 section*/
  .gallery2-caption {
    position: relative;
  }
  .gallery2-caption h4 {
    font-size: 80px;
    font-weight: 700;
    color: #ff7b7b;
  }
  .gallery2-caption p {
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
    position: absolute;
    top: 70px;
  }
  
  /*end of gallery2 section*/
  
  
  
  /*start of collection section*/
  
  #collection img {
    border-radius: 5px;
  }
  
  /*end of collection section*/
  
  /*start of slider section*/
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .slider {
    width: 70%;
    margin: 100px auto;
  }
  
  .slick-slide {
    margin: 0px 20px;
  }
  
  .slick-slide img {
    width: 100%;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  
  .slick-slide {
    transition: all ease-in-out 0.3s;
  }
  
  .regular img {
    border-radius: 5px;
  }
  
  .regular {
    font-size: 12px;
  }
  
  .slider-caption h4 {
    color: #ff7b7b;
    font-size: 40px;
    font-weight: 600;
  }
  
  .slider-slick {
    height: 600px;
    margin-top: 150px;
    background-color: whitesmoke;
  }
  
  .slider-item
  {
    position: relative;
  }
  
  
  .slider-item-caption
  {
    
    background-color: #fff;
    line-height: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -4%;
    
    
    
  }
  .slider-item-caption h5  
  {
    font-size: 10px !important;
  }
  
  
  
  /*end of slider section*/
  
  .slider-slcik2 {
    margin-top: 150px;
  }
  
  .slider-slcik2-caption {
    margin-left: 150px;
  }
  .slider-slcik2-caption h4 {
    font-weight: 700;
    font-size: 40px;
  }
  .slider-slcik2-caption h5 {
    font-weight: 700;
  }
  
  