@font-face
{
  src: url(../zapfinoextraltone/ZapfinoExtraLT-One.otf);
  font-family: zapfino;
}
@font-face
{
  src: url(../lucida-fax/Lucida\ Fax\ Regular.ttf);
  font-family: lucida-fax;
}




html, body {
    font-family: lucida-fax;
    margin: 0;
    padding: 0;
    
  }
  
  /* start of Navbar  */
  
  .container-fluid {
    position: fixed;
    font-size: 12px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .collapse {
    margin-left: 350px;
  }
  .nav-item {
    margin-right: 30px;
  }
  
  /* end of Navbar  */
  
  /* start of backgroundLayer  */
  
  .background-Layer {
    height: 100vh;
    background-image: url(../images/Types-of-Wedding-Shoes-for-Men.jpg);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: 100% 100%;
    background-size: cover;
  }
  
  .caption1 {
    font-family: zapfino;
    color: #fff;
    font-size: 75px;
  }
  .caption2 {
    color: #fff;
    font-size: 20px;
  }
  
  .link-item {
    font-size: 12px;
    color: white;
    text-decoration: none;
  }
  .btn-danger {
    border-radius: 0;
    padding: 12px 20px;
  }
  
  /* end of backgroundLayer  */
  
  /*start of groom-bride section*/
  
  .groom-options .img-fluid {
    border-radius: 10%;
  }
  
  /*end of groom-bride section*/
  
  /*start of combination section*/
  
  #combination {
    height: 500px;
    background-color: whitesmoke;
    margin-top: 150px !important;
  }
  
  #exampleSlider
  {
    border: none;
  }
  
  #exampleSlider .MS-content
  
  {
    border: none;
  }
  #exampleSlider .MS-content .item
  {
    border: none;
  }
  #exampleSlider .MS-content .item img
  {
    padding: 5px 5px;
  }
  
  /*end of combination section*/
  
  /*start of gallery section*/
  #gallery {
    margin-top: 150px;
  }
  
  .img-gallery {
    margin-left: 50px;
  }
  
  /*end of gallery section*/
  
  /*start of quotation*/
  #quotation {
    height: 100vh;
    background-image: url(../images/Types-of-Wedding-Shoes-for-Men.jpg);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: 100% 100%;
    background-size: cover;
    color: #fff;
  }
  .quote-caption {
    background-color: blue;
  }
  
  /*end of quotation*/
  
  /*start of blog section*/
  
  .card .ard-img-top {
    position: relative;
  }
  
  #blog .date {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -30px;
  }
  
  .date h6 {
    font-size: 12px;
  }
  
  /*end of blog section*/
  
  /*start of footer section*/
  footer {
    margin-top: 150px;
    height: 400px;
    background-color: whitesmoke;
  }
  
  .footer-social i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
  }
  .footer-social .fa-facebook-f {
    background-color: blueviolet;
  }
  .footer-social .fa-twitter {
    background-color: #00a8fa;
  }
  .footer-social .fa-instagram {
    background-color: #fe5e72;
  }
  .footer-social .fa-youtube {
    background-color: red;
  }
  /*end of footer section*/
  
  
 
  
  
  
 
  
  