@font-face
{
    src: url(../fonts/ZapfinoExtraLTPro.otf);
    font-family: zapfino-pro;
}




.bg-nav{
    background-color: rgba(0, 0, 0, .7);

}
.groom-cover{
    
    background-image: url(../images/groom_cover.jpg);
    background-size: 100% 100%;
}
.groom-first-text
{
    font-size: 5em;
    font-family: zapfino-pro;
}
.groom-looks h3{
    font-size: 3em;
    
}
.groom-looks h4{
    font-size: 2em;
    position: absolute;
    top: 40px;
    left: 30px;
}
.groom-look-item{
    height: 500px;
}
.groom-look-item2
{
    height: 250px;
}
.owl-theme .owl-dots .owl-dot span{
    background-color: rgb(60, 137, 226);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
{
    background-color: rgb(112, 19, 19);
}
.groom-collection{
    background-color: #D8DADF;
}
.groom-fotter{
    background-color:  #D8DADF;
}
.groom-fotter i{
    border: solid 1px transparent;
    border-radius: 50%;
    padding: 10px;
}
