@font-face {
    font-family: 'EntezareZohoor2';
    src: url('../fonts/ZapfinoExtraLT-One.otf'), url('../fonts/ZapfinoExtraLT-Two.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'myfont';
    src:url('../fonts/Lucida\ Sans\ Regular.ttf'),url('../fonts/Lucida\ Sans\ Italic.ttf'),url('../fonts/lucida\ sans\ halbfett\ kursiv.ttf'),url('../fonts/lucida\ sans\ halbfett.ttf'),url('../fonts/Lucida\ Sans.ttf') ;
    font-weight: normal;
    font-size: medium;
}
#Home
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.png)  ;
    background-size: cover;
    background-position: center;
    height: 100vh;
     
}
#Home .navbar .navbar-brand
{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
#Home .navbar .nav-link
{
    color: #fff;
    padding: 0 20px;
   
}
.home-Caption
{ 
   
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-Caption h1{
    font-size: 4.5rem;
    font-family: 'EntezareZohoor2';
    
}
.home-Caption h3{
    margin-top: 2rem;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: 'myfont';
}
/* combination*/
.combination_Services
{
    margin-top: 80px;
    background-color: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.combination_Services h2
{
    font-size: 2.5rem;
    font-family: 'myfont';
    text-align: center;
    padding: 5px 0;
}
.combination_Services h3
{
    
    margin-top: 2rem;
    padding:0 0 15px 0 ;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.2;
    font-family: 'myfont';
    text-align: center;
}
  
.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}

/* Section services*/

#services 
{
    margin-top: 70px;
}





/*photoGallery*/
#photoGallery
{
    margin-top: 70px;
}
#photoGallery .photoGallery_Caption h2
{
    font-size: 2.5rem;
    font-family: 'myfont';
    text-align: center;
    padding: 5px 0;
}
#photoGallery .photoGallery_Caption h3
{ 
    margin-top: 2rem;
    padding:0 0 15px 0 ;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.2;
    font-family: 'myfont';
    text-align: center;
 
}



/* testamonials Css*/

#testamonials {
    margin-top: 30px;
    background-image: url(../images/Mask\ Group\ 1.png);
    margin-top: 80px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;    
 
  
    
  }
  .testam {
    background: rgba(2, 2, 2, 0.7);
    color: #fff;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;

  }
 
 .captionTestomnials
 {
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    height: 300px;  
  
}


/*Footer*/

#footer h2
{
  font-family: myfont;
  color: #3b5998;
}




ul.socialIcons {
    padding: 0;
    text-align: center;
}
.socialIcons li {
    background: yellow;
    list-style: none;
    display: inline-block;
    margin: 15px;
    border-radius: 2em;
    overflow:hidden;
}
.socialIcons li a {
    display: block;
    padding: .5em;
    max-width: 2.3em;
    min-width: 2.3em;
    height: 2.3em;
    white-space: nowrap;
    line-height: 1.5em;
    transition:.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
.socialIcons li i {
    margin-right:.5em;
}
.socialIcons li:hover a {
    max-width:200px;
    padding-right:1em;
}
.socialIcons .facebook {
    background: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
    background: #00aced;
    box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
    background: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
.socialIcons .pinterest {
    background: #c92228;
    box-shadow: 0 0 16px #c92228;
}
.socialIcons .steam {
    background: #666666;
    box-shadow: 0 0 16px #666666;
}
.fa-facebook:before {
padding-left: 2px;
}





@font-face
{
    src: url(../fonts/ZapfinoExtraLTPro.otf);
    font-family: zapfino-pro;
}
.bg-nav{
    background-color: rgba(0, 0, 0, .7);

}
.groom-cover{
    
    background-image: url(../images/groom_cover.jpg);
    background-size: 100% 100%;
}
.groom-first-text
{
    font-size: 5em;
    font-family: zapfino-pro;
}
.groom-looks h3{
    font-size: 3em;
    
}
.groom-looks h4{
    font-size: 2em;
    position: absolute;
    top: 40px;
    left: 30px;
}
.groom-look-item{
    height: 500px;
}
.groom-look-item2
{
    height: 250px;
}
.owl-theme .owl-dots .owl-dot span{
    background-color: rgb(60, 137, 226);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
{
    background-color: rgb(112, 19, 19);
}
.groom-collection{
    background-color: #D8DADF;
}
.groom-fotter{
    background-color:  #D8DADF;
}
.groom-fotter i{
    border: solid 1px transparent;
    border-radius: 50%;
    padding: 10px;
}
.groom-shoes-cover{
    background-image: url(../images/shoes\ cover.jpg);
    background-size: 100% 100%;
}
.groom-shoes-cover-layer{
    background-color: rgba(0, 0, 0, .5);
}
.groom-shoes-footer{
    background-color: white;
}
.groom-shoes-footer i{
    border: solid 1px transparent;
    border-radius: 50%;
    padding: 10px;
}
.groom-hair-style-cover{
    background-image: url(../images/groom-parper-cover.jfif);
    background-size: 100% 100%;
}